*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
}
#logo{
    color: black;
    text-decoration: none;
    font-size: 40px;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    padding-top: 1.7rem;
}
#logo, a{
    font-family: "Lato", sans-serif;
    font-weight: 600;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
}
header .container{
    display: flex;
    flex-direction: row;
    text-align:center;
    justify-content: space-between;
    
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
    padding-top: 1rem;
}
.navlinks{
    color:rgb(94, 88, 88);
    text-decoration: none;
}
.headericons{
    color: black;
    text-decoration: none;
    font-size: 30px;
}
#section1 h1{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.categorieslist{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.category1 img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
   
}
.category1 h3{
    text-align: center;
}